<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.treespringboot.dao.AccessMapper">
    <insert id="doAccess" >
        insert into tree.access_info(time) values (now())
    </insert>

</mapper>