<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jc.treespringboot.dao.WaterMapper">
    <select id="getWater" resultMap="waterInfo">
        select * from tree.water where user_id = #{userId} and date(time) = date(#{date})
    </select>
    <resultMap id="waterInfo" type="com.jc.treespringboot.entity.Water">
        <id column="id" property="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="treeId" column="tree_id"></result>
        <result property="time" column="time"></result>
        <result property="water" column="water"></result>
    </resultMap>

    <insert id="insertWater" parameterType="com.jc.treespringboot.entity.Water">
        insert into tree.water (user_id,tree_id,time,water)
        values(#{userId},#{treeId},#{time},#{water})
    </insert>

</mapper>